@import "../../global.scss";



.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6%;
    box-shadow: $box-shadow;

    .logo img{
        height: 5rem;
    }

    .icons{
        div,a{
            font-size: .9rem;
            margin-left: 2rem;
            cursor: pointer;
            color: $blue;
            &:hover{
                color: $black;
            }
    }
        
        }
        #menu-btn{
            display: none;
        }
        
    }
